# Reboot - Python Basics

This is a set of small independent assignments to recap the concepts of the day.

## 1. Variables

Create a `country` variable and assign your favorite country to it. Print it

In [2]:
# YOUR CODE HERE
country = "Mexico"
print(country)

Mexico

Create an `animal` variable and assign your favorite animal to it. Print it

In [3]:
# YOUR CODE HERE
animal = "giraffe"
print(animal)

giraffe

Create an `animal_count` variable with any positive integer in it. Print it

In [4]:
# YOUR CODE HERE
animal_count = 5
print(animal_count)

5

Print out a string using all your variables that follows this format:
`"I just ordered 200 monkeys from Denmark"`

**Hint**: use interpolation

In [7]:
# YOUR CODE HERE

# CONCATENATION
print("I just ordered " + str(animal_count) + " " + animal + "s" + " from " + country)

I just ordered 5 giraffes from Mexico

In [8]:
# STRING INTERPOLATION
print(f"I just ordered {animal_count} {animal}s from {country}")

# Alternative: format

I just ordered 5 giraffes from Mexico

---
## 2. Data Types
Now it's time to talk about data types. The first question to ask yourself before starting any coding task, is to determine which data types you're working with.

Run the following cells and pay attention to the variables initialized:

In [9]:
pi = 3.14
food = 'pizza'
colors = ['red', 'blue', 'yellow']
print("Variables are now defined!")

Variables are now defined!

Assign each variable's correct data types (`str`, `float`, `list`) to new variables called `pi_type`, `food_type`, and `colors_type`. Then run the lower cell. 

The cell should display `True` when you define the right data types.

In [10]:
pi_type = float
food_type = str
colors_type = list

In [11]:
type(pi) == pi_type \
and type(food) == food_type \
and type(colors) == colors_type

True

Let's try to work with other data types. This time there's no hint.

In [12]:
user_profile = {'email': 'buffy@gmail.com', 'age': 19, 'password': 'hunter2', 'profession': 'Vampire Slayer' }
shapes = ('square', 'round', 'hexagonic') 
age = 25
age_valid = (age < 18)
print("Variables are now defined!")

Variables are now defined!

Let's repeat the exercise from before with the new variables. Start by defining `user_profile_type`, `shapes_type`, and `age_valid_type`. Once again, the cell should display `True` when you're done.

In [13]:
user_profile_type = dict
shapes_type = tuple
age_valid_type = bool

In [14]:
type(shapes) == shapes_type \
and type(user_profile) == user_profile_type \
and type(age_valid) == age_valid_type

True

---

## 3. Functions

Create a fuction `credit_card_industry` which takes one parameter (a `str` storing a credit card number like `"4242 4242 4242 4242"` for instance) and **return** one of the following industries:

- Airline
- Visa
- Mastercard
- Other

This [article](https://www.thebalance.com/what-do-the-numbers-on-your-credit-card-mean-4588401) will prove handy if you don't know how to determine this from the number.

In [15]:
# YOUR CODE HERE

# Defining function
def credit_card_industry(card_number):
    if card_number.startswith("1"): 
        return "Airline"
    elif card_number.startswith("4"):
        return "Visa"
    elif card_number.startswith("5") or card_number.startswith("2"):
        return "Mastercard"
    else: 
        return "Other" # else not neccessary here!

In [19]:
# Defining function
def credit_card_industry(card_number):
    MAPPING = {
        "1": "Airline",
        "2": "Mastercard",
        "4": "Visa",
        "5": "Mastercard"
    }
    return MAPPING.get(card_number[0], "Other")

credit_card_industry("8")

'Other'

Call this function and **print** the result for the following card numbers:

- `"4539 0132 4843 4768"`
- `"5131 9376 6800 4058"`
- `"3762 8789 1971 1060"`
- `"1002 0494 8191 1719"`

In [16]:
# Calling function 
credit_card_industry("4539 0132 4843 4768")

'Visa'

In [17]:
credit_card_industry("5131 9376 6800 4058")

'Mastercard'

---
## 4. Lists

Create a `genres` variable with a list of 3 different movie genres as strings. Print the list.

In [24]:
# YOUR CODE HERE
genres = ["comedy", "action", "horror"]
genres

['comedy', 'action', 'horror']

Add another genre to the list. Print the whole list.

In [25]:
# YOUR CODE HERE
genres.append("thriller")
genres

['comedy', 'action', 'horror', 'thriller']

Change the name of the second genre on the list. Print the whole list

In [26]:
# YOUR CODE HERE
genres[1] = "romance"
genres

['comedy', 'romance', 'horror', 'thriller']

Print each genre (sorted) to the terminal following this format (use a for loop with enumerate):

```
1 - Action
2 - Comedy
3 - Drama
4 - Thriller
```

In [28]:
genres.sort()
genres

['comedy', 'horror', 'romance', 'thriller']

In [29]:
# YOUR CODE HERE
for index, genre in enumerate(sorted(genres)):
    print(f"{index + 1} - {genre.capitalize()}")

1 - Comedy
2 - Horror
3 - Romance
4 - Thriller

---
## 5. Dictionaries

Create a `movie` variable with a dictionary containing information about any movie. It should contain the keys `year` and `title` with appropriate values. You can get some inspiration on [IMDB](https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating)

In [36]:
# YOUR CODE HERE
movie = {"title": "The Godfather", "year": 1972}
movie

{'title': 'The Godfather', 'year': 1972}

Add a `director` key to the dictonary with the appropriate value. Print the `movie` dictionary

In [37]:
# YOUR CODE HERE
movie["director"] = "Coppalo"
movie

{'title': 'The Godfather', 'year': 1972, 'director': 'Coppalo'}

Create a `movies` variable and initialize it with an empty list.

In [38]:
# YOUR CODE HERE
movies = []

Add your `movie` to the list along with two more movies, with the same keys as the first one. Then print the entire list

In [39]:
# YOUR CODE HERE
movie2 = {"title": "The Dark Night", "year": 2008, "director": "Nolan"}
movie3 = {"title": "Pulp Ficiton", "year": 1994, "director": "Tarantino"}

In [40]:
movies.append(movie)
movies.append(movie2)
movies.append(movie3)
len(movies)

3

Finally, print the `movies` list line by line in the terminal in the following format (using a `for` loop):
```
Terminator by James Cameron was released in 1984
Godfather by Francis Ford Coppola was released in 1972
The Matrix by The Wachowskis was released in 1999
```

In [42]:
# YOUR CODE HERE
for movie in movies: 
    print(f"{movie['title']} by {movie['director']} was released in {movie['year']}")

The Godfather by Coppalo was released in 1972
The Dark Night by Nolan was released in 2008
Pulp Ficiton by Tarantino was released in 1994

---
## 6. Dictionaries + Lists

Often when we're dealing with data, we have to find our way around a big dictionary. This can be a bit intimidating at first. But have no fear, once you get the hang of it, it's quite comfortable to navigate. When we're dealing with bigger dictionaries, it's important to take the time and read through it, knowing what kind of data types are stored and what structure it has. 

It's often a small subset of the information we're interested in looking at, so we need to know how to precisely access it. Start by running the cell below:

In [44]:
movie = {
    'title': { 'en': 'The Dark Knight', 'fr': 'Le Chevalier Noir' },
    'year': 2008,
    'director': 'Christopher Nolan',
    'rating': 'PG-13',
    'plot': {
        'en': 'The Batman is out for blood',
        'fr': 'Batman est de retour, plus vénère que jamais'
    },
    'box office USD': {'USA': 535_234_033, 'rest_of_world': 469_700_000 },
    'actors': {
        'lead': ['Christian Bale', 'Heath Ledger'],
        'support': ['Aaron Eckhardt', 'Morgan Freeman', 'Gary Oldman', 'Maggie Gyllenhaal' ]
    }
}
print("movie is defined!")

movie is defined!

Try to guess the answer to the questions without writing any code. Then try the code out for yourself to test your theory.

What does `movie['title']['fr']` return?

In [45]:
movie['title']['fr']

'Le Chevalier Noir'

What does `movie['title']['es']` return?

In [46]:
movie['title']['es']

KeyError: 'es'

What does `movie['actors']['support'][2]` return?

In [47]:
movie['actors']['support'][2]

'Gary Oldman'

### Optional 

Find a way to extract one list containing all the actors from the movie.

In [48]:
# YOUR CODE HERE
movie["actors"]["lead"]

['Christian Bale', 'Heath Ledger']

In [49]:
movie["actors"]["support"]

['Aaron Eckhardt', 'Morgan Freeman', 'Gary Oldman', 'Maggie Gyllenhaal']

In [51]:
list(movie["actors"]["lead"] + movie["actors"]["support"])

TypeError: list expected at most 1 argument, got 2

In [50]:
actors = movie["actors"]["lead"] + movie["actors"]["support"]
actors

['Christian Bale',
 'Heath Ledger',
 'Aaron Eckhardt',
 'Morgan Freeman',
 'Gary Oldman',
 'Maggie Gyllenhaal']

Try to calculate the total box office of the movie from `movie`

In [55]:
# YOUR CODE HERE
list(movie["box office USD"].values())[0] + list(movie["box office USD"].values())[1]

1004934033

In [56]:
sum(movie["box office USD"].values())

1004934033

How can we calculate the box office sum across all the regions below?

In [57]:
box_office = {"US": 200_000_000, "EU": 85_000_000, "China": 110_000_000}
print(sum(box_office.values()))

395000000